<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- To dynamically add a subject -->
    <!-- <meta
      name="subject"
      content="Request for Seat Reservation in Deskbook Application"
    /> -->
    <title>Request to seat owner</title>
  </head>
  <body style="font-family: sans-serif;">
    <div style="max-width: 768px; margin: 0 auto; background-color: #fbfbfb; padding: 5px;">
      <table>
        <tr >
          <td>
            <p>Dear <span th:text="${body.employeeName}"></span>,</p>
          </td>
        </tr>
        <tr style="font-size: 14px;">
          <td>
            <p>We hope this email finds you well. We are writing to request your assistance with reserving a seat in the Deskbook application.</p>
            <p>You got a reservation request for your seat in the Deskbook application for <span th:text="${body.bookingDate}"></span>. It would greatly help them to have access to your seat during that time.</p>
            <p>Thank you in advance for your understanding and cooperation. We look forward to your positive response.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Thanks,</p>
            <p>
              <img
                src="cid:logoImage"
                alt="db-logo"
                style="
                  width: 30px;
                  border-right: 2px solid black;
                  padding-right: 4px;
                "
              />
              Deskbook
            </p>
          </td>
        </tr>
      </table>
    </div>
  
  </body>
</html>